* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  --scrollbarBG: transparent;
  --thumbBG: rgba(156, 173, 242, 1);
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  background-image: url("./background.png");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body:not(h1, h2, h3, h4, h5, h6) {
  font-family: "Mulish";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

main {
  /* Making the background image 60% opaque */
  background-color: rgba(255, 255, 255, 0.4);
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

main::-webkit-scrollbar {
  width: 0.5rem;
}

main::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

main::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

section {
  display: grid;
  background-color: rgba(245, 247, 255, 0.85);
  margin: 12.5rem 6.25rem;
  padding: 3.75rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 0.625rem;
  gap: 3.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
}

.input-group {
  padding: 0.5rem 1.25rem;
  border-radius: 0.625rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  border: 1px solid rgba(219, 227, 255, 1);
}

input {
  border: none;
  padding: 0.5rem 0;
  width: 100%;
}

input:focus {
  outline: none;
}

span {
  border-left: 1px solid rgba(156, 173, 242, 1);
  height: 1.25rem;
}

i {
  color: rgba(156, 173, 242, 1);
}

button {
  padding: 1rem 0;
  cursor: pointer;
  width: 100%;
  background: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  box-shadow: 0px 6px 18px #9cadf2;
  backdrop-filter: drop-shadow(0 6px 18px rgba(156, 173, 242, 1));
  border-radius: 0.625rem;
  border: none;
  color: white;
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }

  main::-webkit-scrollbar {
    width: 0;
  }

  section {
    grid-template-columns: 1fr;
    padding: 2.5rem 2rem;
    margin: 0;
    border-radius: 0;
  }

  .container {
    align-items: center;
    text-align: center;
  }
}
